.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#currentScore {
  width: 50%;
  height: 100%;
  display: inline-block;
}

#entryChance {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.inputFieldDivs {
  margin-bottom: 10px;
}

.inputFields {
  width: 100%;
}
